<app-header></app-header>
  <div class="banner position-relative w-100">
    <div class="position-absolute text-white d-flex flex-column align-items-center justify-content-center" style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.6);">
      <span>RATE COURSES FOR WHAT'S NOT WORKING FOR YOU</span>
      <h1 class="mb-4 mt-2 font-weight-bold text-center">Welcome to Course Rating</h1>
      <div class="text-center">
        <!-- hover background-color: white; color: black; -->
        <a href="#" class="btn custom-btn-filled px-5 py-3 text-white mt-3 mt-sm-0 mx-1">Get Started</a>
        <!-- hover background-color: #9B5DE5; color: white; -->
        <a href="#" class="btn custom-btn-outlined px-5 py-3 text-white mt-3 mt-sm-0 mx-1">Learn More</a>
      </div>
    </div>
  </div>
<app-footer></app-footer>